@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    font-size: 16px;
}

body {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
}

.header{
    height: 80px;
    background-color: #A01626;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 7.5px;
    /* padding: 0 20px; */
}

.sidebar {
    margin-top: 85px;
    padding-top: 0px;
    width: 200px;
    background-color: #DADAD9;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-weight: 500;
}

.sidebar a.active {
    background-color: #662382;
    color: white;
    font-weight: 700;
}

.sidebar a:hover:not(.active) {
    background-color: #575757;
    color: white;
    font-weight: 700;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

div.content-isi {
    margin-top: 85px;
    margin-left: 200px;
    padding: 1px 16px;
    height: calc(100vh - 85px);
    overflow-y: auto;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
        div.content {margin-left: 0;}
    }

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

/* View Page */
.date-today {
    margin-bottom: 5px;
    padding: 0;
    font-weight: 800;
}

.date-navigation .prev-date,
.date-navigation .today,
.date-navigation .next-date {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 10px 10px 0px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border-bottom: 2px solid #662382;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.date-navigation .prev-date:hover,
.date-navigation .today:hover,
.date-navigation .next-date:hover {
    background-color: #662382;
    color: white;
    font-weight: 700;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.filter-room {
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter-room label {
    font-weight: 500;
}

.filter-room select {
    margin-left: 5px;
    border-radius: 5px;
    border: transparent;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
}

.filter-room select:focus {
    outline: none;
}

.start-heading {
    width: 12%;
}

.end-heading {
    width: 12%;
}

.subject-heading {
    width: 31%;
}

.lecturer-heading {
    width: 26%;
}

.class-heading {
    width: 6%;
}

.room-heading {
    width: 10%;
}

/* Admin Table (CRUD User) */
h3 {
    font-weight: 800;
}

.table-container {
    overflow: auto;
    /* border-radius: 10px; */
    box-shadow: 0 0 0 1px rgba(39, 38, 38, 0.1);
    max-height: 80vh;
    margin-bottom: 25px;
}

table {
    width: 100%;
}

.table-header {
    background-color: #662382;
    border-bottom-width: 10px;
    border-color: #edf2f7;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-header-row th{
    padding: 5px;
    /* padding-left: 10px; */
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}


.id-heading {
    width: 3%;
}

.name-heading {
    width: 100px;
}

.email-heading {
    width: 250px;
}

.password-heading {
    width: 100px;
}

.role-heading {
    width: 100px;
}

tr:nth-child(even) {
    background-color: #E7CFF2;
}

.table td {
    padding: 4px;
    text-align: left;
}

.table td:nth-child(1),
.table td:nth-child(2), 
.table td:nth-child(3), 
.table td:nth-child(6), 
.table td:nth-child(7) {
    text-align: center;
}

.table-container a {
    text-decoration: none;
    color: black;
}

.table-container a:hover {
    font-weight: 600;
}

a[class^="edit-button-"] {
    color: white;
    padding: 2px;
    background-color: green;
    border-radius: 5px;
}

a.delete-button {
    color: white;
    padding: 2px;
    background-color: red;
    border-radius: 5px;
}

a.batch-edit-button-schedule {
    color: white;
    padding: 2px;
    background-color: green;
    border-radius: 5px;
}

a.batch-delete-button {
    color: white;
    padding: 2px;
    background-color: red;
    border-radius: 5px;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.users {
    margin: 5px;
    width: 80%;
}

.add-user {
    background-color: blue;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.back-user {
    background-color: green;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.form-content {
    width: 50%;
    border: 1px solid black;
    background-color: rgb(221, 221, 221);
}

.form-content label {
    margin-left: 10px;
    width: 25%;
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 18px;
}

input[type=text], select, textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=password], select, textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.save-user-button {
    padding: 10px;
}

.save-user-button button {
    font-size: 20px;
    background-color: red;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.save-user-button button:hover {
    background-color: rgb(255, 123, 123);
    color: white;
}

p {
    margin: 16px;
}

.logout {
}

.sidebar .logout-button {
    /* position: absolute; */
    bottom: 0;
    background-color: #A01626;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0px;
}

.sidebar .logout-button:hover:not(.active) {
    background-color: #D10A10;
}

.tab-container {
    display: flex;
    justify-content: space-between;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: -1;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}
