@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    font-size: 16px;
}

body {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
    /* overflow-x: hidden; */
}

.header{
    height: 80px;
    background-color: #A01626;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-bottom: 7.5px;
    /* padding: 0 20px; */
}

.greetings {
    align-items: center;
    text-align: right;
    margin-right: 60px;
}

.text-danger {
    color: red
}

#openLoginModal {
    display: inline-block;
    padding: 10px 10px; 
    margin: 10px 10px; 
    cursor:pointer; 
    background-color: transparent; 
    color: white;
    border-bottom: 2px solid white;
    text-align: center;
    text-decoration: none;
    margin-right: 50px;
    width: 60px;
    font-weight: 800;
}

#openLoginModal:hover {
    background-color: #662382;
    color: white;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, border-bottom 0.3s ease-out, border-radius 0.3s ease-out;   
    font-weight: 800;
    border-bottom: 2px solid #662382;
    border-radius: 5px;
}

.sidebar {
    margin-top: 85px;
    padding-top: 0px;
    width: 200px;
    background-color: #DADAD9;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: flex;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-weight: 500;
    justify-content: left;
    align-items: center;
}

.sidebar a.active {
    background-color: #662382;
    color: white;
    font-weight: 700;
}

.sidebar a:hover:not(.active) {
    background-color: #575757;
    color: white;
    font-weight: 700;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.sidebar a i {
    padding-right: 20px;
    width: 12px;
}

div.content-isi {
    margin-top: 85px;
    margin-left: 200px;
    padding: 1px 16px;
    height: calc(100vh - 85px);
    overflow-y: auto;
}

.page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
        div.content {margin-left: 0;}
    }

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

/* View Page */
.date-today,
.date-navigation span {
    margin: 0 0 5px 0;
    padding: 0;
    font-weight: 800;
    font-size: 32px;
}

.date-navigation .prev-date,
.date-navigation .today,
.date-navigation .next-date {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 10px 10px 0px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border-bottom: 2px solid #662382;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.date-navigation .prev-date:hover,
.date-navigation .today:hover,
.date-navigation .next-date:hover {
    background-color: #662382;
    color: white;
    font-weight: 700;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

/* Filter by */
.options {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
}

.options label {
    font-weight: 500;
}

.options input[type="date"] {
    margin-left: 10px;
    border: transparent;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
}

.options input[type="date"]:focus {
    outline: none;
}

.options select {
    margin-left: 5px;
    border-radius: 5px;
    border: transparent;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
}

.options select:focus {
    outline: none;
}

.filter-container {
    width: 100%;
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filter-container-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
    margin-bottom: 4px;
}

.filter-container-column {
    flex: 1;
    box-sizing: border-box;
}

/* Start of Table Column */
/* View Page */
.id-heading-view {
    width: 3%;
}

.start-heading-view {
    width: 12%;
}

.end-heading-view {
    width: 12%;
}

.subject-heading-view {
    width: 31%;
}

.lecturer-heading-view {
    width: 26%;
}

.class-heading-view {
    width: 6%;
}

.room-heading-view {
    width: 10%;
}

/* Room Lending Page */
.id-heading-lend {
    width: 3%;
}

.start-heading-lend {
    width: 8%;
}

.end-heading-lend {
    width: 8%;
}

.subject-heading-lend {
    width: 27%;
}

.lecturer-heading-lend {
    width: 24%;
}

.class-heading-lend {
    width: 4%;
}

.room-heading-lend {
    width: 6%;
}

.action-heading-lend {
    width: 10%;
}

.action-heading-return {
    width: 10%;
}

/* Schedule Page */
.id-heading-schedule {
    width: 3%;
}

.day-heading-schedule,
.date-heading-schedule {
    width: 8%;
}

.start-heading-schedule {
    width: 8%;
}

.end-heading-schedule {
    width: 8%;
}

.subject-heading-schedule {
    width: 22%;
}

.lecturer-heading-schedule {
    width: 21%;
}

.class-heading-schedule {
    width: 4%;
}

.room-heading-schedule {
    width: 8%;
}

.action-heading-schedule {
    width: 20%;
}

/* Assignment Page */
.id-heading-assignment {
    width: 3%;
}

.subject-heading-assignment {
    width: 34%;
}

.user-heading-assignment {
    width: 37%;
}

.class-heading-assignment {
    width: 4%;
}

.action-heading-assignment {
    width: 20%;
}

/* Subject Page */
.id-heading-subject {
    width: 3%;
}

.subject-heading-subject {
    width: 77%;
}

.action-heading-subject {
    width: 20%;
}

/* Room Page */
.id-heading-room {
    width: 3%;
}

.room-heading-room {
    width: 77%;
}

.action-heading-room {
    width: 20%;
}

/* Class Page */
.id-heading-class {
    width: 3%;
}

.prodi-heading-class {
    width: 10%;
}

.subject-heading-class {
    width: 62%;
}

.action-heading-class {
    width: 25%;
}

/* User Page */
.id-heading-user {
    width: 3%;
}

.name-heading-user {
    width: 25%;
}

.email-heading-user {
    width: 30%;
}

.password-heading-user {
    width: 12%;
}

.role-heading-user {
    width: 10%;
}

.action-heading-user {
    width: 20%;
}

/* End of Table Column */

/* Admin Table (CRUD User) */
h3 {
    font-weight: 800;
    margin-top: 20px 0 0 0;
}

.table-container {
    overflow: auto;
    /* border-radius: 10px; */
    box-shadow: 0 0 0 1px rgba(39, 38, 38, 0.1);
    max-height: 72.5%;
    margin-bottom: 25px;
}

table {
    width: 100%;
}

.table-header,
.table-header-expanded {
    background-color: #662382;
    border-bottom-width: 10px;
    border-color: #edf2f7;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-header-expanded {
    z-index: 0;
}

.table-header-row th{
    padding: 5px;
    /* padding-left: 10px; */
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.table .user-content:nth-of-type(even),
.table .expanded-content:nth-of-type(even),
.table .assignment-content:nth-of-type(even),
.table .class-content:nth-of-type(even) {
    background-color: #E7CFF2;
}

.table td {
    padding: 4px;
    text-align: left;
}

.table .id,
.table .day,
.table .prodi,
.table .date,
.table .start, 
.table .end, 
.table .class, 
.table .room,
.table .password,
.table .action {
    text-align: center;
}

.table-container a {
    text-decoration: none;
    color: black;
}

.table-container a:hover {
    font-weight: 600;
}

a[class^="edit-button-"] {
    color: #2A9134;
    margin: 2px;
    padding: 3px 8px 3px 8px;
    background-color: white;
    border: 2px solid #2A9134;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

a[class^="edit-button-"]:hover {
    color: white;
    background-color: #2A9134;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

a.delete-button {
    color: #D90429;
    margin: 2px;
    padding: 3px 8px 3px 8px;
    background-color: white;
    border: 2px solid #D90429;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

a.delete-button:hover {
    color: white;
    background-color: #D90429;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

a.batch-edit-button-schedule {
    color: #2A9134;
    margin: 2px;
    padding: 3px 8px 3px 8px;
    background-color: white;
    border: 2px solid #2A9134;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

a.batch-edit-button-schedule:hover {
    color: white;
    background-color: #2A9134;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

a.batch-delete-button {
    color: #D90429;
    margin: 2px;
    padding: 3px 8px 3px 8px;
    background-color: white;
    border: 2px solid #D90429;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

a.batch-delete-button:hover {
    color: white;
    background-color: #D90429;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.expand-button {
    color: black;
    border: none;
    margin: 2px;
    padding: 3px 8px 3px 8px;
    background-color: #E5E5E5;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.users {
    margin: 5px;
    width: 100%;
}

.add-user {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #662382;
    color: #662382;
    padding: 10px 20px 10px 16px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
}

.add-user:hover {
    background-color: #662382;
    color: white;
    font-weight: 700;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.back-user {
    background-color: green;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.form-content {
    width: 50%;
    border: 1px solid black;
    background-color: rgb(221, 221, 221);
}

.form-content label {
    margin-left: 10px;
    width: 25%;
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 18px;
}

input[type=text], select, textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=password], select, textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.save-user-button {
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.save-user-button button {
    font-size: 16px;
    background-color: #51CD5D;
    color: white;
    padding: 10px 18px 10px 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 600;
}

.save-user-button button:hover {
    background-color: #2A9134;
    color: white;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    cursor: pointer;
}

p {
    margin: 16px;
}

.logout {
}

.sidebar .logout-button {
    /* position: absolute; */
    bottom: 0;
    background-color: #A01626;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0px;
}

.sidebar .logout-button:hover:not(.active) {
    background-color: #D10A10;
}

.tab-container {
    display: flex;
    justify-content: space-between;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: -1;
}

.modal-content {
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px 20px 30px;
    border: 1px solid #888;
    border-radius: 10px;
    max-width: 40%;
    max-height: 60%;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-content h4 {
    text-align: center;
    color: black;
    font-size: 125%;
    font-weight: 800;
    margin: 10px 0 20px 0;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 150px;
    margin-right: 20px;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
}

.form-group input,
.form-group select {
    flex: 2;
    padding: 8px;
    font-size: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 75%;
}

.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-actions i {
    padding-right: 8px;
}

.form-actions .close,
.form-actions .save-user-button {
    margin: 0 10px; /* Adjust the spacing between buttons */
}

/* Close Button */
.close {
    background-color: #D90429;
    color: white;
    padding: 10px 18px 10px 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}

.close:hover,
.close:focus {
    background-color: #B40421;
    color: white;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    cursor: pointer;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Lend Button */
.btn.btn-success.lend-btn {
    color: #2A9134;
    margin: 2px;
    padding: 3px 8px 3px 8px;
    background-color: white;
    border: 2px solid #2A9134;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.btn.btn-success.lend-btn:hover {
    color: white;
    background-color: #2A9134;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.btn.after-lend.disabled {
    background-color: yellow;
    margin: 2px;
    padding: 3px 8px 3px 8px;
    color: black;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.8;
    cursor: default;
    max-width: 110px;
}

.btn.after-lend.disabled span {
    color: black;
    font-size: 14px;
    font-weight: 700;
}

.btn.cannot-lend.disabled {
    color: white;
    margin: 2px;
    padding: 3px 8px 3px 8px;
    background-color: #2A9134;
    border: 2px solid #2A9134;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.4;
    cursor: not-allowed;
}

/* Return Button */
.btn.btn-warning.return-btn {
    color: #217AFA;
    margin: 2px;
    padding: 3px 8px 3px 8px;
    background-color: white;
    border: 2px solid #217AFA;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.btn.btn-warning.return-btn:hover {
    color: white;
    background-color: #217AFA;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.btn.after-return.disabled {
    background-color: #0B2545;
    margin: 2px;
    padding: 3px 8px 3px 8px;
    color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.8;
    cursor: default;
    max-width: 120px;
}

.btn.after-return.disabled span {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.btn.return-late.disabled {
    background-color: red;
    margin: 2px;
    padding: 3px 8px 3px 8px;
    color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.8;
    cursor: default;
    max-width: 120px;
}

.btn.cannot-return.disabled {
    color: white;
    margin: 2px;
    padding: 3px 8px 3px 8px;
    background-color: #217AFA;
    border: 2px solid #217AFA;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.4;
    cursor: not-allowed;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}
